NODE_ENV=development
VITE_APP_AUTH_URL="https://keycloak.ucod.kr/realms/dxukr/protocol/openid-connect/auth?client_id=hub.dxu&redirect_uri={REDIRECT}&response_type=code&scope=openid+profile+email&state=202403140001"

# idp 의 콜백 URL
# https://app.idp.kr/authcallback
VITE_APP_AUTH_REDIRECT_URL=http://localhost:3000/authcallback
VITE_APP_API_URL=http://localhost:3000/api/v1/idp
