# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
jupyterhub_cookie_secret
jupyterhub-proxy.pid
jupyterhub.sqlite
hub_template/data/static/components
hub_template/data/static/css/
hub_template/static/components
hub_template/static/css
yarn.lock
package-lock.json
hub_template/static/oreo
docker_node_modules
docker_*
public/file_example_MP4_1920_18MG.mp4
.yarn/install-state.gz
.yarnrc.yml
public/split.png
public/sample.mp4
public/sample.png
public/sample
